$main-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$base-font-size:   16px;

$white:    #fff;
$gray-100: darken($white, 10%);
$gray-200: darken($white, 20%);
$gray-300: darken($white, 30%);
$gray-400: darken($white, 40%);
$gray-500: darken($white, 50%);
$gray-600: darken($white, 60%);
$gray-700: darken($white, 70%);
$gray-800: darken($white, 80%);
$gray-900: darken($white, 90%);
$black:    #000;


$blue:    rgb(80, 78, 204);
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary: $blue;
$secondary: $cyan;

$main-bg-color:   $white;
$main-text-color: $gray-900;

$text-shadow: 1px 2px 3px $gray-700;
$border-radius: 4px;
$border-radius-sm: 2px;
$border-radius-lg: 6px;