.gray-100{ background-color: $gray-100; }
.gray-200{ background-color: $gray-200; }
.gray-300{ background-color: $gray-300; }
.gray-400{ background-color: $gray-400; }
.gray-500{ background-color: $gray-500; }
.gray-600{ background-color: $gray-600; }
.gray-700{ background-color: $gray-700; }
.gray-800{ background-color: $gray-800; }
.gray-900{ background-color: $gray-900; }

$primary : yellow;

.bg-primary{
    background-color: $primary;
}
.text-primary{
    color: $primary;
}
.btn-primary{
    background-color: $primary;
}

.blue-darken-5{ background-color: darken($color: $blue, $amount: 50%);}
.blue-darken-4{ background-color: darken($color: $blue, $amount: 40%);}
.blue-darken-3{ background-color: darken($color: $blue, $amount: 30%);}
.blue-darken-2{ background-color: darken($color: $blue, $amount: 20%);}
.blue-darken-1{ background-color: darken($color: $blue, $amount: 10%);}
.blue{ background-color: $blue;}
.blue-lighten-1{ background-color: lighten($color: $blue, $amount: 10%);}
.blue-lighten-2{ background-color: lighten($color: $blue, $amount: 20%);}
.blue-lighten-3{ background-color: lighten($color: $blue, $amount: 30%);}
.blue-lighten-4{ background-color: lighten($color: $blue, $amount: 40%);}
.blue-lighten-5{ background-color: lighten($color: $blue, $amount: 50%);}