// Not generate in css files
/* generate in css file*/
nav {
  background-color: $orange;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // decendant selector
  a {
    text-decoration: none;
    color: $white;
    display: block;
  }
  ul {
    list-style: none;
    display: flex;

    a{
      color: $gray-100;
      padding: 8px 16px;

      //  & => parent
      &:hover{
        color: $white;
        background-color: darken($orange, 10%);
      }
      body[dir="rtl"] & {
        font-size: 20px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }

    }
    li{
      // sibling selector
      +li{
      margin-left: 20px;
      }
    }
  }

  // child selector
  > a{
    font-size: 1.5em;
    font-weight: bold;
    padding: 16px 24px;
  } 
}

.btn{
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  &-primary{
    background-color: $primary;
    color: $white;
    &:hover{
      background-color: darken($primary, 10%);
    }
  }

  &-secondary{
    background-color: $secondary;
  }
}